<p id="notice"><%= notice %></p>

<h1>Hounds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hounds.each do |hound| %>
      <tr>
        <td><%= link_to 'Show', hound %></td>
        <td><%= link_to 'Edit', edit_hound_path(hound) %></td>
        <td><%= link_to 'Destroy', hound, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hound', new_hound_path %>
