<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sophie Test" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sophie Test" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag '1st_load_framework' %>
    <!-- reference the UneeQ SDK directly instead of using yarn / npm -->
    <script src="//unpkg.com/uneeq-js/dist/umd"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body style="margin:0">
    <!-- header>
      <%# render 'layouts/navigation' %>
    </header -->
    <%# <main role="main"> %>
       <%= render 'layouts/messages' %>
       <%= yield %>
    <%# </main> %>
  </body>
</html>
